{% extends 'base.html.twig' %}
{% block body %}

{#
{{ form_start(form) }}
<ul id="form-list"
        data-prototype="{{ form_widget(form.firstname.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.children|length }}">
    {% for firstnameField in form.firstname %}
        <li>
            {{ form_errors(firstnameField) }}
            {{ form_widget(firstnameField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-form"
        data-list-selector="#form-list">Une personne supplémentaire</button>
{{ form_end(form) }}
#}


{{form_start(form, {'attr':{ 'novalidate': 'novalidate'}})}}
{% for tickets in form %}

{{form_widget(tickets)}}
{{form_errors(tickets)}}

{% endfor %}
<button type="submit" class="btn">Valider</button>
{{form_end(form)}}
 

{% endblock %}
{% block javascripts %}
	{{parent()}}
	<!--<script src="add-form.js"></script>-->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>
		<script>
			 $(document).ready(function() {
		        // you may need to change this code if you are not using Bootstrap Datepicker
		        $('.js-datepicker').datepicker({
		            format: 'dd-mm-yyyy',
					language: 'fr',					
		        });
		    });
		</script>
{% endblock %}